openocd-git/openocd
openocd-git/game-and-watch-backup
openocd-git/debian/openocd-git*
openocd-git/debian/files
openocd-git/debian/.debhelper
openocd-git_*.buildinfo
openocd-git_*.changes
openocd-git_*.deb
openocd-git_*.dsc
openocd-git_*.tar.gz
openocd-git-*.ddeb

