Source: openocd-gw
Section: main
Priority: extra
Maintainer: Franz Levin <frazz@kryo.se>
Build-Depends: debhelper, git, texinfo, pkg-config, libusb-dev, libusb-1.0-0-dev, libusb-dev, libhidapi-dev, libftdi-dev, libftdi1-dev

Package: openocd-gw
Architecture: any
Depends: libusb-0.1-4, libusb-1.0-0, libftdi1, libftdi1-2, libhidapi-hidraw0
Description: OpenOCD GW
 OpenOCD GW

